doctype html
html
  include ../structure/head.pug
  body
    include ../structure/header.pug
    .columns.is-mobile
        .column
            table#table.table.is-striped.is-fullwidth
                thead
                    th 
                        a(href=url+'?order=id&asc='+asc) Id
                        if  order=="id" && asc=="DESC" 
                            i(style='margin-left:4px;').fas.fa-arrow-up
                        if  order=="id" && asc=="ASC"
                            i(style='margin-left:4px;').fas.fa-arrow-down
                    th 
                        a(href=url+'?order=message&asc='+asc) Message
                        if  order=="message" && asc=="DESC" 
                            i(style='margin-left:4px;').fas.fa-arrow-up
                        if  order=="message" && asc=="ASC"
                            i(style='margin-left:4px;').fas.fa-arrow-down
                    th 
                        a(href=url+'?order=completion&asc='+asc) Completion
                        if  order=="completion" && asc=="DESC" 
                            i(style='margin-left:4px;').fas.fa-arrow-up
                        if  order=="completion" && asc=="ASC"
                            i(style='margin-left:4px;').fas.fa-arrow-down
                    th 
                        a(href=url+'?order=update_at&asc='+asc) Date d'update
                        if  order=="update_at" && asc=="DESC" 
                            i(style='margin-left:4px;').fas.fa-arrow-up
                        if  order=="update_at" && asc=="ASC"
                            i(style='margin-left:4px;').fas.fa-arrow-down
                    th 
                        a(href=url+'?order=created_at&asc='+asc) Date de création
                        if  order=="created_at" && asc=="DESC" 
                            i(style='margin-left:4px;').fas.fa-arrow-up
                        if  order=="created_at" && asc=="ASC"
                            i(style='margin-left:4px;').fas.fa-arrow-down
                    th(colspan="3")
                tbody                    
                each todo in todos
                    tr
                        td= todo.id
                        td= todo.message
                        if todo.completion
                            td Fait
                        else
                            td En cours
                        td= todo.update_at
                        td= todo.created_at
                        td
                            a(href='/todos/'+todo.id).button.is-info Afficher
                        td
                            a(href='/todos/'+todo.id+'/edit').button.is-primary Editer
                        td
                            form(action='/todos/'+todo.id+'?_method=DELETE', method='post')
                                input(type='submit', value='Supprimer').button.is-danger

